vrrp_instance VI_1 {
    state MASTER
    interface {{ keepalived_iface }}
    virtual_router_id {{ keepalived_virtual_router_id }}
    priority {{ keepalived_priority }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass $ {{ keepalived_password }}
    }
    virtual_ipaddress {
        {{ keepalived_virtual_ip }}
    }
}